@media screen and (min-width: 768px) { 

    .form-control{
        display: inline-block
    }

   
    select{
        display:block;
        margin:0 auto;
    }
    
 }

@media screen and (min-width: 860px){
    .btn-next{
        padding: 20px;
        font-size: 50px;
        font: Console;
    }

    .sm-btn-next{
        font-size: 30px;
        font: Console;
        padding:0px;
    }
    
}
@media screen and (max-width:800px){
    .btn-next{
        font-size: 30px;
        font: Console;
        padding:0px;
    }
    .col-{
        width:100%;
    }
}

@media screen and (max-width:665px){
    .sm-select{
        widows: 350px;
    }
}

div{
     /* border: 1 px solid green; */
    margin:5px;
    /* ใส่ background สวยๆ */
}

label{
    display: block;
    /* text-align: center;; */
}

.center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}

h3{
    text-align: center;
}

.display{
    /* border: 1 px solid green; */
    background-color:whitesmoke;
    /* border-style: solid; */
}
.sub-content{
    background-color:#e6eeff;
    padding:5px; 
}

.mid-content{
    width:90%;
    display:block;
    margin:0 auto;
}

